<form method='POST' action='/notes/save'>    
     <input type='hidden' name='docreate' value='{{#if docreate}}createe{{else}}update{{/if}}'>
     <p>
          key: 
               {{#if docreate }}
                    <input type='text' name='notekey' value=''/>
               {{else}}
                    {{#if note }}{{notekey}}{{/if}}
                    <input type='hidden' name='notekey' value='{{#if note }}{{notekey}}{{/if}}'/>
               {{/if}}
     </p>
     <p>Title: <input type='text' name='title' value='{{#if note }}{{note.title}}{{/if}}'></p>
     <br/><textarea roww=5 cols=40 name='body'></textarea>
     <br/><input type='submit' value='Submit' />
</form>